html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

.global-container {
    position: relative;
    max-width: 100%;
    height: auto;
    //overflow: hidden;
}

.container {

    min-width: 100%;

    & .aboutme {
        height: auto;
        width: 100%;
        margin-top: 25%;
    }

    & .history {
        height: auto;
        width: 100%;
        margin-top: 35%;
    }

    & .works {
        height: auto;
        width: 100%;
        margin-top: 35%;
    }

    & .contact {
        height: auto;
        width: 100%;
        margin-top: 60%;
    }

    &.clicked {
        opacity: 0.5;
        transition-duration: 1s;
    }
}

.header {
position: fixed;
width: 100%;
height: 110px;
background-color: #c4c4c4;
display: flex;
justify-content: space-between;
z-index: 15;

    & > .header-logo {
        position: relative;
        display: inline-block;
        text-align: right;
        font-size: 24px;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
        

        
        & > .logo-text {
            padding-top: 45px;
            padding-right: 20px;
            margin-left: 20px;
        }

        & > span {
            display: block;
            background-color: black;
            z-index: 10;

            &:nth-of-type(1) {
                position: absolute;
                left: 10%;
                top: 85.5%;
                height: 5px;
                width: 135px;
            }
            
            &:nth-last-of-type(2) {
                position: absolute;
                left: 95%;
                top: 35.5%;
                height: 60px;
                width: 18px;
                border-radius: 5px;
            }

            &:nth-of-type(3) {
                position: absolute;
                left: 64.9%;
                top: 45.5%;
                height: 14.5px;
                width: 14.5px;
                border-radius: 50%;
            } 

        }
    }

    .header-menu {
        display: none;
    }
}

.main {
    height: auto;
    min-width: 100%;
}


.top-page-wrapper {
    position: relative;
    display: block;
    width: 100%;
    min-width: 100%;
    height: auto;
    & .top-img {
        background-image: url(images/hockeypic_for_mobile.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        

        &::before {
            display: block;
            content: '';
            padding-top: 152%;
        }
    }

    & > .top-title{
        text-align: right;
        top: 72.8%;
        right: 14%;
        &  p {
            position: absolute;
            top: 67%;
            font-size: 6.0rem;
        }

        & > span {
            display: block;
            background-color: black;
            z-index: 11;

            &:nth-of-type(1) {
                position: absolute;
                left: 7%;
                top: 299%;
                height: 1rem;
                width: 34.5rem;
                background-color: #c4c4c4;
            }
            
            &:nth-last-of-type(2) {
                position: absolute;
                left: 100.8%;
                top: 42.8%;
                height: 13.8rem;
                width: 4.2rem;
                border-radius: 5px;
            }

            &:nth-of-type(3) {
                position: absolute;
                left: 71.6%;
                top: 94.8%;
                height: 3.8rem;
                width: 3.8rem;
                border-radius: 50%;
            } 
        }
    }
}

div[class*="section-title"]{
    position: relative;
    flex-direction: column;
    height: 12rem;
    margin-top: 4rem;

    &#st-a{
        position: absolute;
        flex-direction: column;
        width: 34.1rem;
        top: -10%;
        right: 0%;
    }

    &#st-h{
        position: absolute;
        flex-direction: column;
        width: 32.1rem;
        top: -30%;
        right: 0%;
    }
    &#st-w{
        position: absolute;
        flex-direction: column;
        width: 32.1rem;
        top: -18%;
        right: 0%;
        }
    &#st-c{
        position: absolute;
        flex-direction: column;
        width: 32.1rem;
        top: -28%;
        right: 0%;
    }


        &  h1 {
            position: absolute;
            right: 20%;
            font-size: 6.4rem;
            text-align: right;
            font-family: 'Roboto';
            margin-top: 50px;
        }

        & > span {
            display: inline-block;
            background-color: black;
            z-index: 11;

            &:nth-of-type(1) {
                position: absolute;
                right: 11%;
                top: 102.5%;
                height: 1rem;
                width: 32rem;
                background-color: #c4c4c4;
            }
            
            &:nth-last-of-type(2) {
                position: absolute;
                right: 6%;
                top: 15%;
                height: 11.5rem;
                width: 4.2rem;
                border-radius: 0.5rem;
            }
    
            &:nth-of-type(3) {
                height: 3.8rem;
                width: 3.8rem;
                border-radius: 50%;

                &[id*="aboutme"] {
                    position: absolute;
                    top: 55%;
                    right: 67%;
                }

                &[id*="history"] {
                    position: absolute;
                    top: 54%;
                    right: 36%;
                }

                &[id*="works"] {
                    position: absolute;
                    top: 55%;
                    right: 46%;
                }

                &[id*="contact"] {
                    position: absolute;
                    top: 54%;
                    right: 64%;
                }
            }

        }
}

.aboutme {

    & .aboutme-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > .mypic {
            width: 75%;
            height: auto;
            border-radius: 6rem;
            margin-top: 10rem;
        }

        & > .aboutme-text {
            //text-align: right;
            display: inline-block;
            width: 100%;
            margin: 20px 30px 0 30px;

            & > p {
                margin: 47px 0 47px 0;
                line-height: 25px;
            }
        }
    }
}

.history {
    & .history-headline {
        position: relative;
        margin-left: 25px;
        margin-top: 90px;
        & > h2 {
            padding-left: 30px;
            font-family: Roboto;
            font-size: 32px;
        }

        & > span {
            display: inline-block;
            z-index: 11;
            &:nth-of-type(1) {
                position: absolute;
                background-color: black;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                left: 1.5%;
                top: 30%;
            }
            &:nth-of-type(2) {
                position: absolute;
                background-color: #c4c4c4;
                height: 2px;
                width: 200px;
            }
        }
    }

    & .history-text {
        & > p {
            font-size: 20px;
            margin-top: 80px;
            line-height: 25px;

            // &:nth-child(1) {

            // }

            // &:nth-child(2) {

            // }

            &:nth-child(3) {
                margin-bottom: 80px;

            }
        }
    }
}

.works {

    .github-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        & > img {
            width: 90px;
            height: 90px;
        }

        & > h2 {
            font-size: 24px;
            font-family: 'Roboto';
        }

        & > p {
            font-size: 20px;
            font-family: 'Roboto';
        }
    }

    ul {
        //max-widthより広げるとmarginが自動的に生成
        //max-width: 600px;
        margin: 116px 0;
        width: 100%;
 
    & li {
        display: flex;
        align-items: center;

        & > .text {
            font-size: 32px;
            font-family: serif;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }

        & > .photo {
            margin: 0 50px;
        }

        & .photo, text {
            width: 50%;
            box-sizing: border-box;
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;
            padding-right: 60px;
        }

        &:nth-child(even) {
            padding-left: 60px;
            flex-direction: row;
        }
        &:nth-child(2) {
            margin-top: 107px;
            flex-direction: row;
        }

        &:nth-child(3) {
            margin-top: 107px;
        }
        }
    }

    .skillsets-wrapper {
        font-family: Roboto;
        font-size: 48px;
        text-align: center;
    }

    .skill-icons-wrapper {
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin: 64px 0;
        & .works-icons {
            animation: float 2s ease-in-out infinite;
            display: inline-block;
            width: 102px;
            height: 102px;
            
        }
}
@keyframes float {
    0% {
        transform: translateY(16%);
    }
    50% {
        transform: translateY(24%);
    }
    100% {
        transform: translateY(16%);
    }
  }

}

.contact {

    & h2 {
        text-align: center;
        font-size: 26px;
        font-family: Roboto;
    }

    
    & .contact-info-wrapper {
        display: flex;
        align-items: left;
        flex-direction: column;
        margin: 175px 0 73px 0;
        padding-left: 9%;
        & > li {
            display: flex;
            align-items: center;

            & .contact-icon {
                margin-right: 12px;
            }
            
            & .contactinfo-text {
                font-size: 32px;
                font-family: Roboto;
                font-weight: 300;

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }

            & .contact-icon {
                width: 40px;
                height: 40px;
            }
        }
    }

    & .contact-form {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 73px;
        margin-left: 17%;
        & p {
            font-family: serif;
            font-size: 16px;
            margin-bottom: 15px;
        }

        & input {
            width: 200px;
            background-color: #c4c4c4;
            border: none;
        }

        & textarea {
            background-color: #c4c4c4;
            width: 277px;
            height: 288px;
            resize: none;
            border: none;
        }

        & button {
            background-color: black;
            color: white;
            font-family: serif;
            width: 100px;
            height: 37px;
            border: none;
            border-radius: 5px;
            margin-top: 50px;
            margin-bottom: 50px;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
}
}

.mobile-menu-btn {
    border: none;
    background-color: transparent;
    margin: 0 30px;

    &:hover {
        cursor: pointer;
    }


     & > span {
    content: '';
    display: block;
    background-color: black;
    height: 10px;
    width: 60px;
    margin: 10px 0;
    }
}

.clicked {
    z-index: 20;

    &.mobile-menu {
        position: fixed;
        opacity: 1;
        transition-duration: 1s;
    }

    & > span {
        
    &:nth-child(1) {
        transform:  translateY(20px) rotate(45deg);
        transition-duration: 1s;
    }

    &:nth-child(2) {
        transform: scale(0);
        transition-duration: 1s;
    }

    &:nth-child(3) {
        transform: translateY(-20px) rotate(135deg);
        transition-duration: 1s;
    }
}

}

.mobile-menu {
    position: absolute;
    top: 0%;
    display: block;
    height: 660px;
    width: 70%;
    background-color: #c4c4c4;
    opacity: 0;

    & .menu-text-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 80%;

    & > :nth-child(1) {
        margin-top: 25%;
    }
    & > a {

        text-decoration: none;
        color: black;
        font-family: serif;
        font-size: 4rem;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
}
} 