html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

.global-container {
    position: relative;
    max-width: 100%;
    height: auto;
    //overflow: hidden;
}

.container {
    min-width: 100%;

    & .aboutme {
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 200px;
    }

    & .history {
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 200px;
    }

    & .works {
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 200px;
    }

    & .contact {
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 250px;
    }
}

.header {
position: fixed;
width: 100%;
height: 110px;
background-color: #c4c4c4;
display: flex;
justify-content: space-between;
z-index: 15;

    & > .header-logo {
        position: relative;
        display: inline-block;
        text-align: right;
        font-size: 24px;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
        
        & > img {
            width: 150px;
            margin-top: 10%;
            margin-left: 10%;
         }
        
        // & > .logo-text {
        //     padding-top: 45px;
        //     padding-right: 20px;
        //     margin-left: 20px;
        // }

        // & > span {
        //     display: block;
        //     background-color: black;
        //     z-index: 10;

        //     &:nth-of-type(1) {
        //         position: absolute;
        //         left: 10%;
        //         top: 94.5px;
        //         height: 5px;
        //         width: 135px;
        //     }
            
        //     &:nth-last-of-type(2) {
        //         position: absolute;
        //         left: 95%;
        //         top: 35.5%;
        //         height: 60px;
        //         width: 18px;
        //         border-radius: 5px;
        //     }

        //     &:nth-of-type(3) {
        //         position: absolute;
        //         left: 97.5px;
        //         top: 45.5%;
        //         height: 14.5px;
        //         width: 14.5px;
        //         border-radius: 50%;
        //     } 

        // }
    }

    .header-menu {
        
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        margin-right: 30px;

        & > li {
            list-style:none;
            padding: 30px 20px;
            margin-top: 25px;

            & a {
                font-family: serif;
                font-size: 20px;
                color: black;
                text-decoration: none;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }

            }   
        }
    }
}

.main {
    height: auto;
    min-width: 100%;
}


.top-page-wrapper {
    position: relative;
    display: block;
    width: 100%;
    min-width: 100%;
    height: auto;
    & .top-img {
        background-image: url(images/hockeypic_for_mobile.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        

        &::before {
            display: block;
            content: '';
            padding-top: 152%;
        }
    }

    // & > .top-title{
    //     text-align: right;
    //     &  p {
    //         position: absolute;
    //         top: 78%;
    //         left: 23%;
    //         font-size: 6.4rem;
    //     }

    //     & > span {
    //         display: block;
    //         background-color: black;
    //         z-index: 11;

    //         &:nth-of-type(1) {
    //             position: absolute;
    //             left: 9%;
    //             top: 94%;
    //             height: 1rem;
    //             width: 43.5rem;
    //             background-color: #c4c4c4;
    //         }
            
    //         &:nth-last-of-type(2) {
    //             position: absolute;
    //             left: 84.8%;
    //             top: 77.9%;
    //             height: 13.8rem;
    //             width: 4.2rem;
    //             border-radius: 5px;
    //         }

    //         &:nth-of-type(3) {
    //             position: absolute;
    //             left: 62.6%;
    //             top: 79.8%;
    //             height: 3.8rem;
    //             width: 3.8rem;
    //             border-radius: 50%;
    //         } 
    //     }
    // }    
    & > .top-title{
        text-align: right;
        position: absolute;
        top: 20%;
        right: 28%;
        &  p {
            position: absolute;

            top: 51%;
            left: 39%;
        
            font-size: 6.4rem;
        }

        & > span {
            display: block;
            background-color: black;
            z-index: 11;

            &:nth-of-type(1) {
                position: absolute;
                left: 27%;
                top: 299%;
                height: 1rem;
                width: 36.5rem;
                background-color: #c4c4c4;
            }
            
            &:nth-last-of-type(2) {
                position: absolute;
                left: 132.8%;
                top: 42.9%;
                height: 13.8rem;
                width: 4.2rem;
                border-radius: 5px;
            }

            // &:nth-of-type(3) {
            //     position: absolute;
            //     //left: 102.5%;
            //     left: 337px;
            //     top: 82.5%;
            //     height: 3.8rem;
            //     width: 3.8rem;
            //     border-radius: 50%;
            // } 
        }
    }
}

div[class*="section-title"]{
    position: absolute;
    flex-direction: column;
    height: 12rem;
    margin-top: 4rem;
    top: -3%;
    display: block;
    width: 34.1rem;
    right: 3%;

    &#st-a{
    position: absolute;
    flex-direction: column;
    width: 341px;
    top: -4%;
    right: 5%;
    }

    &#st-h{
        position: absolute;
        flex-direction: column;
        width: 321px;
        top: -5%;
        right: 5%;
    }

    &#st-w{
        position: absolute;
        flex-direction: column;
        width: 321px;
        top: -7%;
        right: 5%;
        }

    &#st-c{
        position: absolute;
        flex-direction: column;
        width: 321px;
        top: -8%;
        right: 5%;
        }


        &  h1 {
            position: absolute;
            right: 15%;
            top: -149%;
            font-size: 64px;
            text-align: right;
            font-family: 'Roboto';
            margin-top: 50px;
        }

        & > span {
            display: inline-block;
            background-color: black;
            z-index: 11;

            &:nth-of-type(1) {
                position: absolute;
                right: 4%;
                top: -45.5%;
                height: 1rem;
                width: 32rem;
                background-color: #c4c4c4;
            }
            
            &:nth-last-of-type(2) {
                position: absolute;
                right: 0%;
                top: -133%;
                height: 11.5rem;
                width: 4.2rem;
                border-radius: 0.5rem;
            }
    
            // &:nth-of-type(3) {
            //     height: 3.8rem;
            //     width: 3.8rem;
            //     border-radius: 50%;

            //     &[id*="aboutme"] {
            //         position: absolute;
            //         left: 90px;
            //         top: -91.2%;
            //     }

            //     &[id*="history"] {
            //         position: absolute;
            //         right: 31.3%;
            //         top: -92.2%;
            //     }

            //     &[id*="works"] {
            //         position: absolute;
            //         left: 149px;
            //         top: -92.0%;
            //     }

            //     &[id*="contact"] {
            //         position: absolute;
            //         left: 93px;
            //         top: -92.2%;
            //     }
            // }

        }
}

.aboutme {

    & .aboutme-content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & > .mypic {
            width: 260px;
            height: 530px;
            border-radius: 150px;
            margin-top: 100px;
            margin-left: 100px;
          
            @media (min-width: 1150px) and (max-width: 1300px)  {
                margin-left: 150px;
              }
            
            @media (min-width: 1301px) and (max-width: 1450px) {
                margin-left: 200px;

              }

              @media (min-width: 1451px) and (max-width: 1550px) {
                margin-left: 265px;
            }

            @media (min-width: 1551px) {
                margin-left: 290px;
            }


        }

        & > .aboutme-text {
            text-align: left;
            display: inline-block;
            width: 100%;
            margin: 80px 85px 0 30px;

            @media (min-width: 1150px) and (max-width: 1300px)  {
                margin: 8rem 8.5rem 0 8rem;;
              }

            @media (min-width: 1301px) and (max-width: 1450px) {
                margin: 8rem 20rem 0 8rem;
              }

            @media (min-width: 1451px) and (max-width: 1550px) {
                margin: 8rem 24.5rem 0 8rem
            }

            @media (min-width: 1551px) {
                margin: 8rem 18.5rem 0 20rem;
            }

            & > p {
                margin: 47px 0 47px 0;
                line-height: 35px;
                font-size: 25px;
            }
        }
    }
}

.history {
    & .history-headline1 {
        position: absolute;
        margin-left: 25px;
        margin-top: 60px;
        top: -5%;
        left: 2%;
        & > h2 {
            padding-left: 30px;
            font-family: Roboto;
            font-size: 40px;
        }

        & > span {
            display: inline-block;
            z-index: 11;
            &:nth-of-type(1) {
                position: relative;
                background-color: black;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                // left: 1.5%;
                // top: 30%;
            }
            &:nth-of-type(2) {
                position: relative;
                background-color: #c4c4c4;
                height: 2px;
                width: 246px;
                // left: 0%;
                // top: 120%;
            }
        }
    }

    & .history-headline2 {
        position: absolute;
        margin-left: 25px;
        margin-top: 60px;
        top: 40%;
        left: 2%;
        & > h2 {
            padding-left: 30px;
            font-family: Roboto;
            font-size: 40px;
        }

        & > span {
            display: inline-block;
            z-index: 11;

            &:nth-of-type(2) {
                position: absolute;
                background-color: #c4c4c4;
                height: 2px;
                width: 246px;
                left: 0%;
                top: 120%;
            }
        }
    }

    & .history-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > p {
            font-size: 2.6rem;
            margin: 4rem 2rem;
            line-height: 3.5rem;
            padding-top: 60px;
        }
    }
}

.works {

    .github-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        & > img {
            width: 100px;
            height: 100px;
        }

        & > h2 {
            font-size: 24px;
            font-family: 'Roboto';
            margin-top: 10px;
        }

        & > p {
            font-size: 20px;
            font-family: 'Roboto';
            margin-top: 20px;
        }
    }

    ul {
        //max-widthより広げるとmarginが自動的に生成
        //max-width: 600px;
        margin: 116px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
 
    & > li {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > .text {
            font-size: 16px;
            font-family: serif;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }

        & > .photo {
            margin: 0 50px;
            width: 30%;
            width: 90%;
        }

        & .photo, text {

            box-sizing: border-box;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,0.5);
            transition: opacity 200ms;
            visibility: hidden;
            opacity: 0;

            display:flex;
            justify-content: center;
            align-items: center;
            &.light {
            background: rgba(255,255,255,0.5);
          }
          &:target {
            visibility: visible;
            opacity: 1;
          }
        }
        
        .popup {
            margin: 75px auto;
            padding: 20px;
            background: #fff;
            border: 1px solid #666;
            width: 100%;
            height: 150%;
            box-shadow: 0 0 50px rgba(0,0,0,0.5);
            position: relative;
          .light & {
            border-color: #aaa;
            box-shadow: 0 2px 10px rgba(0,0,0,0.25);
          }
          h2 {
            margin-top: 0;
            color: #666;
            font-size: 20px;
            font-family: 'Roboto';
          }
          .close {
            position: absolute;
            width: 20px;
            height: 8px;
            top: 20px;
            right: 20px;
            opacity: 0.8;
            transition: all 200ms;
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            color: #666;
            &:hover {
              opacity: 1;
            }
          }
          .content {
            max-height: 400px;
            overflow: visible;
          }
          p {
            &:last-child {
              margin: 0;
              font-family: 'Roboto';
              @media (min-width: 769px) and (max-width: 910px){
                font-size: 10px;
                line-height: 14px;
                margin-top: 5px;
            }
            font-size: 13px;
            line-height: 15px;
            margin-top: 15px;
            }
          }
        }
        
        }
    }

    .skillsets-wrapper {
        font-family: Roboto;
        font-size: 64px;
        text-align: center;
    }

    .skill-icons-wrapper {
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin: 64px 0;
        
        & .works-icons {
            animation: float 2s ease-in-out infinite;
            display: inline-block;
            width: 102px;
            height: 102px;
            
        }
}
@keyframes float {
    0% {
        transform: translateY(16%);
    }
    50% {
        transform: translateY(24%);
    }
    100% {
        transform: translateY(16%);
    }
  }
}




.contact {

    & h2 {
        text-align: center;
        font-size: 40px;
        font-family: Roboto;
    }

    
    & .contact-info-wrapper {
        display: flex;
        align-items: left;
        flex-direction: column;
        margin-top: 16.5rem;
        margin-bottom: 7.3rem;
        margin-left: 7.5%;
        padding-top: 9rem;
        & > li {
            display: flex;
            align-items: center;
            margin: 15px 0;
            -ms-overflow-style: none;
            -webkit-overflow-style: none;
            & .contact-icon {
                margin-right: 12px;
            }
            
            & .contactinfo-text {
                font-size: 40px;
                font-family: Roboto;
                font-weight: 300;

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }

            & .contact-icon {
                width: 37px;
                height: 37px;
            }
        }
    }

    & .contact-form {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 73px;
        margin-left: 27%;
        //padding-left: 20%;
        & p {
            font-family: serif;
            font-size: 25px;
            margin-top: 25px;
        }

        & input {
            width: 240px;
            height: 35px;
            background-color: #c4c4c4;
            border: none;
        }

        & textarea {
            background-color: #c4c4c4;
            width: 541px;
            height: 288px;
            resize: none;
            border: none;
        }

        & button {
            background-color: black;
            color: white;
            font-family: serif;
            width: 100px;
            height: 37px;
            border: none;
            border-radius: 5px;
            margin-top: 45px;
            margin-bottom: 50px;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
}
}

.mobile-menu-btn {
    border: none;
    background-color: transparent;
    margin: 0 30px;
    display: none;

    &:hover {
        cursor: pointer;
    }


     & > span {
    content: '';
    display: block;
    background-color: black;
    height: 10px;
    width: 60px;
    margin: 10px 0;
    }
}

.clicked {
    z-index: 20;

    &.mobile-menu {
        position: fixed;
        opacity: 1;
        transition-duration: 1s;
    }

    & > span {
        
    &:nth-child(1) {
        transform:  translateY(20px) rotate(45deg);
        transition-duration: 1s;
    }

    &:nth-child(2) {
        transform: scale(0);
        transition-duration: 1s;
    }

    &:nth-child(3) {
        transform: translateY(-20px) rotate(135deg);
        transition-duration: 1s;
    }
}

}