html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

.global-container {
    position: relative;
    max-width: 100%;
    height: auto;
    //overflow: hidden;
}

.container {

    min-width: 100%;

    & .aboutme {
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 15%;
    }

    & .history {
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 20%;
    }

    & .works {
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 20%;
    }

    & .contact {
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 20%;
    }

    & .clicked {
        opacity: 0.5;
        transition-duration: 1s;
    }
}

.header {
position: fixed;
width: 100%;
height: 110px;
background-color: #c4c4c4;
display: flex;
justify-content: space-between;
z-index: 15;

    & > .header-logo {
        position: relative;
        display: inline-block;
        text-align: right;
        font-size: 24px;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
        

        
        & > .logo-text {
            padding-top: 45px;
            padding-right: 20px;
            margin-left: 20px;
        }

        & > span {
            display: block;
            background-color: black;
            z-index: 10;

            &:nth-of-type(1) {
                position: absolute;
                left: 10%;
                top: 85.5%;
                height: 5px;
                width: 135px;
            }
            
            &:nth-last-of-type(2) {
                position: absolute;
                left: 95%;
                top: 35.5%;
                height: 60px;
                width: 18px;
                border-radius: 5px;
            }

            &:nth-of-type(3) {
                position: absolute;
                left: 64.9%;
                top: 45.5%;
                height: 14.5px;
                width: 14.5px;
                border-radius: 50%;
            } 

        }
    }

    .header-menu {
        font-family: serif;
        font-size: 20px;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        margin-right: 30px;

        & > li {
            list-style:none;
            padding: 30px 20px;
            margin-top: 25px;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
}

.main {
    height: auto;
    min-width: 100%;
}


.top-page-wrapper {
    position: relative;
    display: block;
    width: 100%;
    min-width: 100%;
    height: auto;
    & .top-img {
        background-image: url(images/hockeypic_for_mobile.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        

        &::before {
            display: block;
            content: '';
            padding-top: 152%;
        }
    }

    & > .top-title{
        text-align: right;
        &  p {
            position: absolute;
            top: 78%;
            left: 23%;
            font-size: 6.4rem;
        }

        & > span {
            display: block;
            background-color: black;
            z-index: 11;

            &:nth-of-type(1) {
                position: absolute;
                left: 9%;
                top: 94%;
                height: 1rem;
                width: 43.5rem;
                background-color: #c4c4c4;
            }
            
            &:nth-last-of-type(2) {
                position: absolute;
                left: 84.8%;
                top: 77.9%;
                height: 13.8rem;
                width: 4.2rem;
                border-radius: 5px;
            }

            &:nth-of-type(3) {
                position: absolute;
                left: 62.6%;
                top: 79.8%;
                height: 3.8rem;
                width: 3.8rem;
                border-radius: 50%;
            } 
        }
    }    & > .top-title{
        text-align: right;
        position: absolute;
        top: 20%;
        right: 28%;
        &  p {
            position: absolute;

            top: 51%;
            left: 39%;
        
            font-size: 6.4rem;
        }

        & > span {
            display: block;
            background-color: black;
            z-index: 11;

            &:nth-of-type(1) {
                position: absolute;
                left: 27%;
                top: 299%;
                height: 1rem;
                width: 36.5rem;
                background-color: #c4c4c4;
            }
            
            &:nth-last-of-type(2) {
                position: absolute;
                left: 132.8%;
                top: 42.9%;
                height: 13.8rem;
                width: 4.2rem;
                border-radius: 5px;
            }

            &:nth-of-type(3) {
                position: absolute;
                left: 102.5%;
                top: 82.5%;
                height: 3.8rem;
                width: 3.8rem;
                border-radius: 50%;
            } 
        }
    }
}

div[class*="section-title"]{
    position: absolute;
    flex-direction: column;
    height: 12rem;
    margin-top: 4rem;
    top: -3%;
    display: block;
    width: 34.1rem;
    right: 3%;

        &  h1 {
            position: absolute;
            right: 15%;
            top: -149%;
            font-size: 6.4rem;
            text-align: right;
            font-family: 'Roboto';
            margin-top: 50px;
        }

        & > span {
            display: inline-block;
            background-color: black;
            z-index: 11;

            &:nth-of-type(1) {
                position: absolute;
                right: 4%;
                top: -45.5%;
                height: 1rem;
                width: 32rem;
                background-color: #c4c4c4;
            }
            
            &:nth-last-of-type(2) {
                position: absolute;
                right: 0%;
                top: -133%;
                height: 11.5rem;
                width: 4.2rem;
                border-radius: 0.5rem;
            }
    
            &:nth-of-type(3) {
                height: 3.8rem;
                width: 3.8rem;
                border-radius: 50%;

                &[id*="aboutme"] {
                    position: absolute;
                    right: 61.7%;
                    top: -91.2%;
                }

                &[id*="history"] {
                    position: absolute;
                    right: 30.3%;
                    top: -92.2%;
                }

                &[id*="works"] {
                    position: absolute;
                    right: 39.5%;
                    top: -92.0%;
                }

                &[id*="contact"] {
                    position: absolute;
                    right: 56.3%;
                    top: -92.2%;
                }
            }

        }
}

.aboutme {

    & .aboutme-content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & > .mypic {
            width: 260px;
            height: 530px;
            border-radius: 150px;
            margin-top: 100px;
            margin-left: 100px;
          
            @media (min-width: 1150px) and (max-width: 1300px)  {
                margin-left: 150px;
              }
            
            @media (min-width: 1301px) and (max-width: 1450px) {
                margin-left: 200px;

              }

              @media (min-width: 1451px) and (max-width: 1550px) {
                margin-left: 265px;
            }

            @media (min-width: 1551px) {
                margin-left: 290px;
            }


        }

        & > .aboutme-text {
            text-align: right;
            display: inline-block;
            width: 100%;
            margin: 80px 85px 0 30px;

            @media (min-width: 1150px) and (max-width: 1300px)  {
                margin: 80px 150px 0 30px;
              }

            @media (min-width: 1301px) and (max-width: 1450px) {
                margin: 80px 200px 0 30px;
              }

            @media (min-width: 1451px) and (max-width: 1550px) {
                margin: 80px 245px 0 30px
            }

            @media (min-width: 1551px) {
                margin: 80px 285px 0 30px
            }

            & > p {
                margin: 47px 0 47px 0;
                line-height: 35px;
                font-size: 25px;
            }
        }
    }
}

.history {
    & .history-headline {
        position: absolute;
        margin-left: 25px;
        margin-top: 60px;
        top: -5%;
        left: 2%;
        & > h2 {
            padding-left: 30px;
            font-family: Roboto;
            font-size: 40px;
        }

        & > span {
            display: inline-block;
            z-index: 11;
            &:nth-of-type(1) {
                position: absolute;
                background-color: black;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                left: 1.5%;
                top: 30%;
            }
            &:nth-of-type(2) {
                position: absolute;
                background-color: #c4c4c4;
                height: 2px;
                width: 246px;
                left: 0%;
                top: 120%;
            }
        }
    }

    & .history-text {
        & > p {
            font-size: 28px;
            margin-top: 80px;
            line-height: 45px;

            &:nth-child(1) {
                margin-right: 420px;
                margin-top: 130px;
            }

            &:nth-child(2) {
                margin-right: 25px;
            }

            &:nth-child(3) {
                margin-left: 420px;
            }
        }
    }
}

.works {

    .github-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        & > img {
            width: 100px;
            height: 100px;
        }

        & > h2 {
            font-size: 24px;
            font-family: 'Roboto';
            margin-top: 10px;
        }

        & > p {
            font-size: 20px;
            font-family: 'Roboto';
            margin-top: 20px;
        }
    }

    ul {
        //max-widthより広げるとmarginが自動的に生成
        //max-width: 600px;
        margin: 116px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
 
    & > li {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > .text {
            font-size: 16px;
            font-family: serif;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }

        & > .photo {
            margin: 0 50px;
            width: 30%;
            width: 90%;
        }

        & .photo, text {

            box-sizing: border-box;
        }
        }
    }

    .skillsets-wrapper {
        font-family: Roboto;
        font-size: 64px;
        text-align: center;
    }

    .skill-icons-wrapper {
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin: 64px 0;
        & .works-icons {
            display: inline-block;
            width: 102px;
            height: 102px;
            
        }
}

}

.contact {

    & h2 {
        text-align: center;
        font-size: 40px;
        font-family: Roboto;
    }

    
    & .contact-info-wrapper {
        // display: flex;
        // align-items: left;
        // flex-direction: column;
        display: grid;
        grid-template: 80px 80px / 50% 50%;
        margin: 85px 75px 73px 160px;
        & > li {
            // display: flex;
            // align-items: center;

            & .contact-icon {
                margin-right: 12px;
            }
            
            & .contactinfo-text {
                font-size: 40px;
                font-family: Roboto;
                font-weight: 300;

                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }

            & .contact-icon {
                width: 37px;
                height: 37px;
            }
        }
    }

    & .contact-form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 73px;
        margin-left: 27%;
        //padding-left: 20%;
        & p {
            font-family: serif;
            font-size: 25px;
            margin-top: 25px;
        }

        & input {
            width: 240px;
            height: 35px;
            background-color: #c4c4c4;
            border: none;
        }

        & textarea {
            background-color: #c4c4c4;
            width: 541px;
            height: 288px;
            resize: none;
            border: none;
        }

        & button {
            background-color: black;
            color: white;
            font-family: serif;
            width: 100px;
            height: 37px;
            border: none;
            border-radius: 5px;
            margin-top: 45px;
            margin-bottom: 50px;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
}
}

.mobile-menu-btn {
    border: none;
    background-color: transparent;
    margin: 0 30px;
    display: none;

    &:hover {
        cursor: pointer;
    }


     & > span {
    content: '';
    display: block;
    background-color: black;
    height: 10px;
    width: 60px;
    margin: 10px 0;
    }
}

.clicked {
    z-index: 20;

    &.mobile-menu {
        position: fixed;
        opacity: 1;
        transition-duration: 1s;
    }

    & > span {
        
    &:nth-child(1) {
        transform:  translateY(20px) rotate(45deg);
        transition-duration: 1s;
    }

    &:nth-child(2) {
        transform: scale(0);
        transition-duration: 1s;
    }

    &:nth-child(3) {
        transform: translateY(-20px) rotate(135deg);
        transition-duration: 1s;
    }
}

}

.mobile-menu {
    position: absolute;
    top: 0%;
    display: block;
    height: 660px;
    width: 70%;
    background-color: #c4c4c4;
    opacity: 0;

    & .menu-text-wrapper {
        padding-top: 90px;

    & > :nth-child(1) {
        margin: none;
    }
    & > p {
        margin-bottom: 70px;
        text-align: center;
        font-family: serif;
        font-size: 40px;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
}
} 