html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

.global-container {
  position: relative;
  max-width: 100%;
  height: auto;
}

.container .aboutme {
  height: auto;
  width: 100%;
}

.container .history {
  height: auto;
  width: 100%;
}

.container .works {
  height: auto;
  width: 100%;
}

.container .contact {
  height: auto;
  width: 100%;
}

.container .clicked {
  opacity: 0.5;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header {
  position: fixed;
  width: 100%;
  height: 11rem;
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 15;
}

.header > .header-logo {
  position: relative;
  display: inline-block;
  text-align: right;
  font-size: 2.4rem;
}

.header > .header-logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header > .header-logo > .logo-text {
  padding-top: 4.5rem;
  padding-right: 2rem;
  margin-left: 2rem;
}

.header > .header-logo > span {
  display: block;
  background-color: black;
  z-index: 10;
}

.header > .header-logo > span:nth-of-type(1) {
  position: absolute;
  left: 10%;
  top: 85.5%;
  height: 0.5rem;
  width: 13.5rem;
}

.header > .header-logo > span:nth-last-of-type(2) {
  position: absolute;
  left: 95%;
  top: 35.5%;
  height: 6rem;
  width: 1.8rem;
  border-radius: 0.4rem;
}

.header > .header-logo > span:nth-of-type(3) {
  position: absolute;
  left: 64.9%;
  top: 45.5%;
  height: 1.45rem;
  width: 1.45rem;
  border-radius: 50%;
}

.header .header-menu {
  display: none;
}

.main {
  height: auto;
  width: 100%;
}

.top-page-wrapper {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.top-page-wrapper .top-img {
  background-image: url(images/hockeypic_for_mobile.png);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.top-page-wrapper .top-img::before {
  display: block;
  content: '';
  padding-top: 152%;
}

.top-page-wrapper > .top-title {
  text-align: right;
  width: 330px;
  height: 50px;
  margin: 0 0 0 auto;
  position: absolute;
  top: 66.8%;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-page-wrapper > .top-title p {
  position: absolute;
  top: 100%;
  left: 13%;
  font-size: 4.8rem;
}

.top-page-wrapper > .top-title > span {
  display: block;
  background-color: black;
  z-index: 11;
}

.top-page-wrapper > .top-title > span:nth-of-type(1) {
  position: absolute;
  right: 17%;
  top: 290%;
  height: 0.6rem;
  width: 25rem;
  background-color: #c4c4c4;
}

.top-page-wrapper > .top-title > span:nth-last-of-type(2) {
  position: absolute;
  right: 7%;
  top: 94%;
  height: 10.4rem;
  width: 3.6rem;
  border-radius: 0.5rem;
}

.top-page-wrapper > .top-title > span:nth-of-type(3) {
  position: absolute;
  right: 8%;
  top: 99.8%;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

div[class*="section-title"] {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 12rem;
  margin-top: 4rem;
}

div[class*="section-title"] h1 {
  position: absolute;
  right: 20%;
  font-size: 5.2rem;
  text-align: right;
  font-family: 'Roboto';
  margin-top: 50px;
}

div[class*="section-title"] > span {
  display: inline-block;
  background-color: black;
  z-index: 11;
}

div[class*="section-title"] > span:nth-of-type(1) {
  position: absolute;
  right: 16%;
  height: 0.7rem;
  width: 25rem;
  background-color: #c4c4c4;
  top: 86%;
}

div[class*="section-title"] > span:nth-last-of-type(2) {
  position: absolute;
  right: 10%;
  top: 33.5%;
  height: 7rem;
  width: 3rem;
  border-radius: 0.5rem;
}

div[class*="section-title"] > span:nth-of-type(3) {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

div[class*="section-title"] > span:nth-of-type(3)[id*="aboutme"] {
  position: absolute;
  right: 26.43rem;
  top: 57.8%;
}

div[class*="section-title"] > span:nth-of-type(3)[id*="history"] {
  position: absolute;
  right: 15.73rem;
  top: 57.8%;
}

div[class*="section-title"] > span:nth-of-type(3)[id*="works"] {
  position: absolute;
  right: 19.03rem;
  top: 57.8%;
}

div[class*="section-title"] > span:nth-of-type(3)[id*="contact"] {
  position: absolute;
  right: 24.73rem;
  top: 57.8%;
}

.aboutme {
  position: relative;
}

.aboutme .aboutme-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutme .aboutme-content-wrapper > .mypic {
  width: 75%;
  height: auto;
  border-radius: 6rem;
  margin-top: 10rem;
}

.aboutme .aboutme-content-wrapper > .aboutme-text {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 2rem 3rem 0 3rem;
}

.aboutme .aboutme-content-wrapper > .aboutme-text > p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 4.7rem 0 4.7rem 0;
  line-height: 2.5rem;
}

.history {
  position: relative;
}

.history .history-headline {
  position: relative;
  margin-left: 2.5rem;
  margin-top: 7.2rem;
}

.history .history-headline > h2 {
  font-family: Roboto;
  font-size: 3.2rem;
}

.history .history-headline > span {
  display: inline-block;
  z-index: 11;
}

.history .history-headline > span:nth-of-type(1) {
  position: absolute;
  background-color: black;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  left: 1.5%;
  top: 30%;
}

.history .history-headline > span:nth-of-type(2) {
  position: absolute;
  background-color: #c4c4c4;
  height: 0.2rem;
  width: 20rem;
}

.history .history-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history .history-text > p {
  font-size: 1.6rem;
  margin: 4rem 2rem;
  line-height: 2.5rem;
}

.works {
  position: relative;
}

.works .github-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.works .github-info > img {
  width: 90px;
  height: 90px;
}

.works .github-info > h2 {
  font-size: 24px;
  font-family: 'Roboto';
}

.works .github-info > p {
  font-size: 20px;
  font-family: 'Roboto';
}

.works ul {
  margin: 11.6rem 0;
  width: 100%;
}

.works ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works ul li > .text {
  font-size: 1.6rem;
  font-family: serif;
  margin-bottom: 1rem;
}

.works ul li > .text > br {
  display: none;
}

.works ul li > .text:hover {
  opacity: 0.7;
  cursor: pointer;
}

.works ul li > .photo {
  margin-bottom: 3rem;
}

.works ul li .photo, .works ul li text {
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.works .skillsets-wrapper {
  font-family: Roboto;
  font-size: 4.8rem;
  text-align: center;
}

.works .skill-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 6.4rem 0;
}

.works .skill-icons-wrapper .works-icons {
  display: inline-block;
  width: 7.5rem;
  height: 7.5rem;
}

.contact {
  position: relative;
}

.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  font-family: Roboto;
}

.contact .contact-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8.5rem;
  margin-bottom: 7.3rem;
  margin-left: 7.5%;
}

.contact .contact-info-wrapper > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-info-wrapper > li .contact-icon {
  margin-right: 1.2rem;
}

.contact .contact-info-wrapper > li .contactinfo-text {
  font-size: 2.2rem;
  font-family: Roboto;
  font-weight: 300;
}

.contact .contact-info-wrapper > li .contactinfo-text:hover {
  opacity: 0.7;
  cursor: pointer;
}

.contact .contact-info-wrapper > li .contact-icon {
  width: 3rem;
  height: 3rem;
}

.contact .contact-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-top: 7.3rem;
  margin-left: 6.5%;
}

.contact .contact-form-wrapper p {
  font-family: serif;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.contact .contact-form-wrapper input {
  width: 20rem;
  background-color: #c4c4c4;
  border: none;
}

.contact .contact-form-wrapper textarea {
  background-color: #c4c4c4;
  width: 27.7rem;
  height: 28.8rem;
  resize: none;
  border: none;
}

.contact .contact-form-wrapper button {
  background-color: black;
  color: white;
  font-family: serif;
  width: 10rem;
  height: 3.7rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact .contact-form-wrapper button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.mobile-menu-btn {
  border: none;
  background-color: transparent;
  margin: 0 3rem;
}

.mobile-menu-btn:hover {
  cursor: pointer;
}

.mobile-menu-btn > span {
  content: '';
  display: block;
  background-color: black;
  height: 1rem;
  width: 6rem;
  margin: 1rem 0;
}

.clicked {
  z-index: 20;
}

.clicked.mobile-menu {
  position: fixed;
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.clicked > span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(45deg);
          transform: translateY(20px) rotate(45deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.clicked > span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.clicked > span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(135deg);
          transform: translateY(-20px) rotate(135deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.mobile-menu {
  position: absolute;
  top: 0%;
  display: block;
  height: 66rem;
  width: 70%;
  background-color: #c4c4c4;
  opacity: 0;
}

.mobile-menu .menu-text-wrapper > :nth-child(1) {
  margin: none;
}

.mobile-menu .menu-text-wrapper > p {
  margin-bottom: 7rem;
  text-align: center;
  font-family: serif;
  font-size: 4rem;
}

.mobile-menu .menu-text-wrapper > p:hover {
  opacity: 0.7;
  cursor: pointer;
}
/*# sourceMappingURL=base.css.map */