html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

.global-container {
    position: relative;
    max-width: 100%;
    height: auto;
    //overflow: hidden;
}

.container {

    & .aboutme {
        height: auto;
        width: 100%;
        margin-top: 10%;
    }

    & .history {
        height: auto;
        width: 100%;
        margin-bottom: 15rem;
    }

    & .works {
        height: auto;
        width: 100%;
    }

    & .contact {
        height: 30rem;
        width: 100%;
    }

    &.clicked {
        opacity: 0.5;
        transition-duration: 1s;
    }
}

.header {
position: fixed;
width: 100%;
height: 11rem;
background-color: #c4c4c4;
display: flex;
justify-content: space-between;
z-index: 15;

    & > .header-logo {
        position: relative;
        display: inline-block;
        text-align: right;
        font-size: 2.4rem;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
        
     & > img {
        width: 150px;
        margin-top: 10%;
        margin-left: 10%;
     }
 
        // & > .logo-text {
        //     padding-top: 4.5rem;
        //     padding-right: 2rem;
        //     margin-left: 2rem;
        // }

        // & > span {
        //     display: block;
        //     background-color: black;
        //     z-index: 10;

        //     &:nth-of-type(1) {
        //         position: absolute;
        //         left: 9%;
        //         top: 94.5px;
        //         height: 0.5rem;
        //         width: 13.5rem;
        //     }
            
        //     &:nth-last-of-type(2) {
        //         position: absolute;
        //         left: 95%;
        //         top: 35.5%;
        //         height: 6rem;
        //         width: 1.8rem;
        //         border-radius: 0.4rem;
        //     }

        //     &:nth-of-type(3) {
        //         position: absolute;
        //         left: 97.5px;
        //         top: 45.5%;
        //         height: 1.45rem;
        //         width: 1.45rem;
        //         border-radius: 50%;
        //     } 
        // }
    }

    .header-menu {
        display: none;
    }
}

.main {
    height: auto;
    width: 100%;
}


.top-page-wrapper {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    & .top-img {
        background-image: url(images/hockeypic_for_mobile.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        

        &::before {
            display: block;
            content: '';
            padding-top: 152%;
        }
    }

    & > .top-title{
        text-align: right;
        width: 330px;
        height: 50px;
        margin: 0 0 0 auto;
        position: absolute;
        top: 66.8%;
        right: 0%;
        display: flex;
        @media (min-width: 600px)and (max-width: 959px) {
            /* 横幅が600px以上の場合に適用するスタイル */
            text-align: right;
            width: 330px;
            height: 50px;
            margin: 0 0 0 auto;
            position: absolute;
            top: 76.8%;
            right: 7%;
            display: flex;
         }
        &  p {
            position: absolute;
            top: 100%;
            left: 13%;
            font-size: 4.8rem;
        }

        & > span {
            display: block;
            background-color: black;
            z-index: 11;

            &:nth-of-type(1) {
                position: absolute;
                right: 17%;
                top: 290%;
                height: 0.6rem;
                width: 25rem;
                background-color: #c4c4c4;
            }
            
            &:nth-last-of-type(2) {
                position: absolute;
                right: 7%;
                top: 94%;
                height: 10.4rem;
                width: 3.6rem;
                border-radius: 0.5rem;
            }

            // &:nth-of-type(3) {
            //     position: absolute;
            //     //right: 30.5%;
            //     left: 198px;
            //     top: 121.8%;
            //     height: 3rem;
            //     width: 3rem;
            //     border-radius: 50%;
            // } 
        }
    }
}

div[class*="section-title"]{
    position: absolute;
    width: 300px;
    height: 12rem;
    flex-direction: column;

    &#st-a{
        position: absolute;
        flex-direction: column;
        width: 341px;
        top: -4%;
        right: 0%;
    }

    &#st-h{
        position: absolute;
        flex-direction: column;
        width: 321px;
        top: -25%;
        right: 0%;
    }
    &#st-w{
        position: absolute;
        flex-direction: column;
        width: 321px;
        top: -9%;
        right: 0%;
        }
    &#st-c{
        position: absolute;
        flex-direction: column;
        width: 321px;
        top: -22%;
        right: 0%;
    }

        &  h1 {
            position: absolute;
            right: 20%;
            top: -3%;
            font-size: 5.2rem;
            text-align: right;
            font-family: 'Roboto';
            margin-top: 50px;
        }

        & > span {
            display: inline-block;
            background-color: black;
            z-index: 11;

            &:nth-of-type(1) {
                position: absolute;
                right: 16%;
                height: 0.7rem;
                width: 25rem;
                background-color: #c4c4c4;
                top: 86%;
            }
            
            &:nth-last-of-type(2) {
                position: absolute;
                right: 10%;
                top: 33.5%;
                height: 7rem;
                width: 3rem;
                border-radius: 0.5rem;
            }
    
            // &:nth-of-type(3) {
            //     height: 3rem;
            //     width: 3rem;
            //     border-radius: 50%;

            //     &[id*="aboutme"] {
            //         position: absolute;
            //         top: 51.8%;
            //         left: 112.2px;
            //     }

            //     &[id*="history"] {
            //         position: absolute;
            //         right: 33%;
            //         top: 51.5%;
            //         display: none;
            //     }

            //     &[id*="works"] {
            //         position: absolute;
            //         left: 157.5px;
            //         top: 51.8%;
            //     }

            //     &[id*="contact"] {
            //         position: absolute;
            //         left: 111px;
            //         top: 51.4%;
            //     }
            // }

        }
}

.aboutme {
    position: relative;
    & .aboutme-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > .mypic {
            width: 75%;
            height: auto;
            border-radius: 6rem;
            margin-top: 10rem;
        }

        & > .aboutme-text {
            text-align: center;
            display: inline-block;
            width: 100%;
            margin: 2rem 3rem 17rem 3rem;

            & > p {
                font-family: Roboto;
                font-size: 2rem;
                line-height: 2.5rem;
                margin: 4.7rem 0 4.7rem 0;
                line-height: 3.5rem;
                padding: 0 1rem;
            }
        }
    }
}

.history {
    position: relative;
    & .history-headline1 {
        position: relative;
        margin-top: 10%;
        margin-left: 4%;
        & > h2 {
            font-family: Roboto;
            font-size: 3.2rem;
            margin-bottom: 1%;
            text-align: center;
        }

        & > span {
            display: inline-block;
            z-index: 11;
            &:nth-of-type(1) {
                position: absolute;
                background-color: black;
                width: 1.8rem;
                height: 1.8rem;
                border-radius: 50%;
                left: 1.5%;
                top: 30%;
            }
            &:nth-of-type(2) {
                position: absolute;
                background-color: #c4c4c4;
                height: 0.2rem;
                width: 20rem;
            }
        }
    }

    & .history-headline2 {
        position: relative;
        margin-top: 10%;
        margin-left: 4%;
        & > h2 {
            font-family: Roboto;
            font-size: 3.2rem;
            margin-bottom: 1%;
            text-align: center;
        }

        & > span {
            display: inline-block;
            z-index: 11;
            &:nth-of-type(1) {
                position: absolute;
                background-color: black;
                width: 1.8rem;
                height: 1.8rem;
                border-radius: 50%;
                left: 1.5%;
                top: 30%;
            }
            &:nth-of-type(2) {
                position: absolute;
                background-color: #c4c4c4;
                height: 0.2rem;
                width: 20rem;
            }
        }
    }

    & .history-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > p {
            font-size: 1.6rem;
            margin: 4rem 2rem;
            line-height: 2.5rem;
            font-family: Roboto;
        }
    }
}

.works {
    position: relative;

    .github-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        & > img {
            width: 90px;
            height: 90px;
        }

        & > h2 {
            font-size: 24px;
            font-family: 'Roboto';
        }

        & > a {
            font-size: 20px;
            font-family: 'Roboto';
        }
    }

    ul {
        //max-widthより広げるとmarginが自動的に生成
        //max-width: 600px;
        margin: 11.6rem 0;
        width: 100%;
 
    & li {
        display: flex;
        align-items: center;
        flex-direction: column;

        & > .text {
            font-size: 1.6rem;
            font-family: serif;
            margin-bottom: 1rem;

            & > br {
                display: none;
            }

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }

        & > .photo {
            margin-bottom: 3rem;
            border-radius: 1rem;
        }

        & .photo, text {
            width: 90%;
            box-sizing: border-box;
        }
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.5);
        transition: opacity 200ms;
        visibility: hidden;
        opacity: 0;

        display:flex;
        justify-content: center;
        align-items: center;
        &.light {
        background: rgba(255,255,255,0.5);
      }
      &:target {
        visibility: visible;
        opacity: 1;
      }
    }
    
    .popup {
        margin: 75px auto;
        padding: 20px;
        background: #fff;
        border: 1px solid #666;
        width: 85%;
        height: 85%;
        box-shadow: 0 0 50px rgba(0,0,0,0.5);
        position: relative;
      .light & {
        border-color: #aaa;
        box-shadow: 0 2px 10px rgba(0,0,0,0.25);
      }
      h2 {
        margin-top: 0;
        color: #666;
        font-size: 2rem;
        font-family: 'Roboto';
        @media (min-width: 600px) and (max-width: 768px){
            font-size: 3rem;
        }
        
      }
      .close {
        position: absolute;
        width: 20px;
        height: 8px;
        top: 20px;
        right: 20px;
        opacity: 0.8;
        transition: all 200ms;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #666;
        &:hover {
          opacity: 1;
        }
      }
      .content {
        max-height: 400px;
        overflow: visible;
      }
      p, a {
        margin: 0 0 1em;
        margin: 0;
        margin: 0;
        font-size: 1.5rem;
        font-family: 'Roboto';
        line-height: 2rem;
        @media (min-width: 600px) and (max-width: 768px){
            font-size: 2.5rem;
            // margin-top: 2.5rem;
            line-height: 3rem;
        }
        &:first-child {
            margin-top: 0.7rem;
        }
      }
    }

    .skillsets-wrapper {
        font-family: Roboto;
        font-size: 4.8rem;
        text-align: center;
    }

    .skill-icons-wrapper {
        display: flex;
        text-align: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 6.4rem 0;
        & .works-icons {
            animation: float 2s ease-in-out infinite;
            display: inline-block;
            width: 102px;
            height: 102px;
            
        }
}
@keyframes float {
    0% {
        transform: translateY(16%);
    }
    50% {
        transform: translateY(24%);
    }
    100% {
        transform: translateY(16%);
    }
  }
}

.contact {
    position: relative;

    & h2 {
        text-align: center;
        font-size: 2.6rem;
        font-family: Roboto;
        line-height: 3.5rem;
    }

    
    & .contact-info-wrapper {
        display: flex;
        align-items: left;
        flex-direction: column;
        margin-top: 16.5rem;
        margin-bottom: 7.3rem;
        margin-left: 7.5%;
        padding-top: 9rem;
        & > li {
            display: flex;
            align-items: center;
            margin: 15px 0;

            & .contact-icon {
                margin-right: 1.2rem;
            }
            
            & .contactinfo-text {
                font-size: 2.2rem;
                font-family: Roboto;
                font-weight: 300;
                word-break: break-all;
                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }

            & .contact-icon {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    & .contact-form {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 7.3rem;
        margin-left: 6.5%;
        & p {
            font-family: serif;
            font-size: 1.6rem;
            margin-bottom: 1.5rem;
        }

        & input {
            width: 20rem;
            background-color: #c4c4c4;
            border: none;
        }

        & textarea {
            background-color: #c4c4c4;
            width: 27.7rem;
            height: 28.8rem;
            resize: none;
            border: none;
        }

        & button {
            background-color: black;
            color: white;
            font-family: serif;
            width: 10rem;
            height: 3.7rem;
            border: none;
            border-radius: 0.5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
}
}

.mobile-menu-btn {
    border: none;
    background-color: transparent;
    margin: 0 3rem;

    &:hover {
        cursor: pointer;
    }


     & > span {
    content: '';
    display: block;
    background-color: black;
    height: 1rem;
    width: 6rem;
    margin: 1rem 0;
    transition-duration: 1s;
    }
}

.clicked {
    z-index: 20;

    &.mobile-menu {
        position: fixed;
        opacity: 1;
        transition-duration: 1s;
    }

    & > span {
        
    &:nth-child(1) {
        transform:  translateY(20px) rotate(45deg);
        transition-duration: 1s;
    }

    &:nth-child(2) {
        transform: scale(0);
        transition-duration: 1s;
    }

    &:nth-child(3) {
        transform: translateY(-20px) rotate(135deg);
        transition-duration: 1s;
    }
}

}

.mobile-menu {
    position: absolute;
    top: 0%;
    display: block;
    height: 66rem;
    width: 70%;
    background-color: #c4c4c4;
    opacity: 0;

    & .menu-text-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 80%;

    & > :nth-child(1) {
        margin-top: 30%;
    }
    & > a {
        text-decoration: none;
        color: black;
        font-family: serif;
        font-size: 4rem;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
}
} 